*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
body{
    background-image: url(/CabDesign/images/cab-bg.jpg);
    background-size: cover;
}
.email-txt{
    display: block;
}
.main{
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    margin-right: 15vw;
    flex-direction: column;

}
.container{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    padding: 20px;
    background-color: rgba(146, 141, 135, 0.26);
    width: 20vw;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.484);
}

.container input{
    color: aliceblue;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 39px 5px 5px;
    margin:10px 0px 25px 0px;
}
.forgot{
    justify-content: flex-end;
    cursor: pointer;
    margin: 10px 0;
    font-size: 12px;
}
.bottom{
    flex-direction: column;
    align-items: center;
}
.login-btn{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.54);
    justify-content: center;
    align-items: center;
    padding: 5px 50px;
    border: 1px solid wheat;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}
.login-btn:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: black;
}

.line{
    margin: 10px 0px;
    height: 1px;
    width: 190px;
    background-color: aliceblue;
}
.create-acc{
    font-size: 13px;
    cursor: pointer;
}
.login-head{
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
    text-shadow: 5px 6px 5px black;
    
}
.logo-small{
    margin: 5px 0px 40px 0px;
    align-items: center;
    flex-direction: column;
}
.logo-small img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 5px 10px 5px black;
   
}
.company-name{
    top: 20vh;
    left: 12vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    box-sizing: border-box;
    font-size: 40px;
    color: aliceblue;
    text-shadow: 5px 6px 5px rgb(90, 122, 197);

}

.company-name img{
    margin-right: 30px;
    width: 120px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 5px 6px 9px rgb(90, 122, 197);
    
}
.company-name img:hover{
    width: 140px;
    height: 160px;
    transition-duration: 0.2s;
    cursor: pointer;

}
